<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Archiving Rock</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        Bono in 1981.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            How a New Jersey record store clerk's 150,000 photos ended up in the Rock and Roll Hall of Fame alongside the titans he capture.
        </div>
        <div class="byline">
            Dan DeLuca / Staff Writer, <a href="mailto:dedeluca@phillynews.com">ddeluca@phillynews.com</a><br>
            Photos courtesy of The Jeff Rusnak Collection, Rock & Roll Hall of Fame
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Monday, October 15, 2018</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">I</span>f only Jeff Rusnak could see his photos now.</p>
            <p>For more than 30 years before his death in 2016, Rusnak was a fixture on the Central Jersey music scene.</p>
            <p>By day, he worked at the Princeton Record Exchange, one of the region's few remaining great record stores. He played bass in the band Funkophobia, and in the 1980s put out cassettes by teenage duo Ween on his Bird O'Pray record label.</p>

            {% set ad = ["21"] %} {% include "partials/ad.html" %}

            <p>By night, he went out to see bands and take photos.</p>
            <p>Lots of bands, and lots and lots of photos &mdash; hundreds of which taken in clubs and concert halls in New Jersey, Philadelphia, and New York are now on display at the Rock and Roll Hall of Fame in Cleveland in a new exhibit called "Something Going On: Jeff Rusnak, A Rock and Roll Life."</p>
            <p>"Very rarely do you come across something like this," said Greg Harris, the Rock Hall CEO who grew up in Morrisville attending shows at venues such as the Trenton rock club City Gardens, where Rusnak snapped a picture of a shirtless Henry Rollins in 1983 that's a centerpiece of the exhibit.</p>
            <p>That exhibit displays the life's work of a previously unknown and unseen photographer, whose photos are now celebrated alongside his subjects, including giants such as David Bowie and the Clash.</p>

                                        </div>
                                        </div>
                                        <div class="row" alignment="true">
                                        <div class="col-md-12 col col-md-offset-0" alignment="true">
                                            <div class="imagebreak">
                                                <div class="img-fluid">
                                                    <img class="img-fluid" src="http://media.philly.com/images/ddamix_bowie.jpg" alt="" width="100%/">
                                                    <div class="containerPhotoCaption" alignment="true">David Bowie at the Spectrum in 1978.</div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row" alignment="true">
                                        <div class="col-md-8 col col-md-offset-2" alignment="true">

<p>The body of work is comprehensive, says Harris. "The documentation of rock-and-roll history over the decades is just amazing."</p>
<p>"He went to everything," says Randy Ellis, the music promoter known as Randy Now who booked City Gardens in the 1980s and 1990s. "And not just punk stuff. He went to Madonna, Lady Gaga, Taylor Swift. He was out eight nights a week."</p>
<p>Friends of Rusnak &mdash; known by his nickname, "Jefty" &mdash; were aware of his passion for photography. "The only time Jeff didn't have three cameras around his neck was when he was in the shower," Ellis says.</p>
<p>The avid shooter would hang the pictures he took of the Clash at Bonds International Casino in New York or Bowie at the Spectrum up on the walls at the Record Exchange and at the Ticketron at Quakerbridge Mall, where he worked in the late 1970s.</p>

                            <div class="imagebreak">
                                <img src="http://media.philly.com/images/ddamix_henry_rollins.jpg" width="100%"/>
                                <div class="containerPhotoCaption" alignment="true">Henry Rollins of Black Flag at City Gardens in Trenton, circa 1983. </div>
                            </div>

<p>But&nbsp;no one realized the scope of what Rusnak had compiled until he died of a heart attack at 60. Besides his all-music-all-the-time concertgoing, Ellis says, "He was kind of a hermit. No one ever went to his house."</p>
<p>When Rusnak didn't show up at the Record Exchange one morning in May 2016, coworkers found him dead in the house he grew up in in Yardville, where he lived alone except for his cat, Fripp (named after King Crimson guitarist Robert Fripp).</p>
<p>What Rusnak had stored there, in a dwelling that was structurally unsafe because of termite damage (and tons of stuff), left his cousin Karyn Benton dumbfounded.</p>

                            <div class="imagebreak">
                                <img src="http://media.philly.com/images/ddamix_taylor_vertical.jpg" width="100%"/>
                                <div class="containerPhotoCaption" alignment="true">Taylor Swift in the 2000s.</div>
                            </div>

<p>"Wow! What is this?" she remembers thinking when she saw Rusnak's boxes and boxes and boxes of photos along with thousands of LPs, CDs, and DVDs.</p>
<p>Benton is a retired schoolteacher who owns the Spruce Goose Christmas Tree Farm in Chesterfield, N.J., with her husband, John. Over the years, she had lost touch with Rusnak, whom she remembers was quiet as a child with a passion for music, chess, and the board game Risk.</p>
<p>She was mainly concerned with recovering the possessions of his late father, Peter, her uncle, a World War II hero with two Purple Hearts who wrote an unpublished memoir about his wartime experience.</p>
<p>She found the manuscript, along with her uncle's collections of coins and vintage toys.</p>

                            <div class="imagebreak">
                                <img src="http://media.philly.com/images/ddamix_elvis_costello_vertical.jpg" width="100%"/>
                                <div class="containerPhotoCaption" alignment="true">Elvis Costello in 1981.</div>
                            </div>

<p>Because Rusnak's father was a wedding photographer, Benton&nbsp; wasn't surprised to also find 50 cameras. More alarming were the 17 TVs she put out by the curb one day. "They never threw anything away," she says.</p>
<p>Harris credits Benton with saving Rusnak's contributions to music history. Early on, a rep for an auction company suggested she toss everything except jewelry, musical instruments, and coins into the trash.</p>

                <!--right inline / medium-->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                    <img class="img-fluid" src="http://media.philly.com/images/ddamix_clash.jpg" alt="" width="100%/">
                    <div class="containerPhotoCaption" alignment="true">Joe Strummer of the Clash.</div>
                </div>
                <!--end-->

<p>"I was like, "No, no, no, no!" she says. Instead, looking at the photos of unfamiliar musicians &mdash; she recognized Bowie but couldn't tell Devo from Ween &mdash; she set about sifting through the remains of her cousin's life.</p>
<p>Luckily, she had met Ellis months before. The promoter, who now puts on shows at the <a href="http://www.mancavenj.com/" target="_blank" rel="noopener noreferrer">Bordentown record store/venue Randy Now's Man Cave,</a> contacted Harris, <a href="http://www.philly.com/philly/entertainment/music/20130120_At_Rock_Hall_of_Fame__a_Phila__voice_at_top.html">a friend from when he hung out at City Gardens and worked as Philly rocker Ben Vaughn's road manager</a>.</p>
<p>Intrigued, Harris flew in. He was stunned to realize that, counting the images on the hard drives of Rusnak's two Mac laptops, there were not the 10,000 photos he was expecting, but closer to 150,000.</p>

                            <div class="imagebreak">
                                <img src="http://media.philly.com/images/ddamix_nancy_wilson.jpg" width="100%"/>
                                <div class="containerPhotoCaption" alignment="true">Nancy Wilson of Heart at the Spectrum, 1978.</div>
                            </div>

<p>"There's everything from Yes to the Flaming Lips," Harris says of the collection, which the Rock Hall acquired in its entirety. It will be on view in the museum's archives after the exhibit ends in February.</p>
<p>"He dedicated his life to doing this," <a href="http://www.philarecx.com/" target="_blank">says Harris, whose Philly connections include co-founding the Philadelphia Record Exchange, now in Fishtown.&nbsp;</a> "It's the history of photography from the '70s to the present. There are early pictures done in the darkroom, then he started mailing them away to Clark's photo service, to being on CDs, and then memory sticks and, ultimately, his desktop Mac." (And, yes, rock photos were found on Rusnak's phone, too.)</p>

                            <div class="imagebreak">
                                <img src="http://media.philly.com/images/ddamix_genesis.jpg" width="100%"/>
                                <div class="containerPhotoCaption" alignment="true">Genesis at the Spectrum in 1980.</div>
                            </div>

<p>Rusnak didn't photograph just musicians: There are also nature photos, clown photos, "and he may have eaten pizza every day of his life &mdash; he took a picture of every slice," Harris says. <a href="https://www.facebook.com/jeff.rusnak" target="_blank" rel="noopener noreferrer">Rusnak's Facebook cover photo is a shot of Lucy the Elephant in Margate, N.J.</a></p>
<p>Benton never considered selling off the photos individually. Rusnak left no will, and it was more important to her to keep the collection together.</p>

                {% include "partials/subscribebox.html" %}

<p>"My life has changed through two years of going through the family's belongings, and just getting to know him through what he left," she says. "He experienced life through the camera. I wish things were different and I'd gotten to know him while he was alive."</p>
<p>Benton traveled to the opening of the exhibit this month and was thrilled to see her cousin's work recognized inside the glass walls of I.M. Pei's pyramid.</p>

{% set ad = ["22"] %} {% include "partials/ad.html" %}

<p>"For the photos to be at the Rock and Roll Hall of Fame and be viewed by the general public is just beyond Jefty's wildest dreams, I'm sure," she says. "Just having his life displayed there: It continues to promote the enthusiasm and love that Jeff had for the music. The exhibit allows his story to be told."</p>
<p><a href="https://www.rockhall.com/visit" target="_blank" rel="noopener noreferrer">Something Going On: Jeff Rusnak, A Rock and Roll Life at the Rock and Roll Hall of Fame, 110 Rock and Roll Blvd., Cleveland. 216-781-7625. rockhall.com.</a></p>
        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">The Flaming Lips in 2010.</div>
    </div>
</div>
